.container {
  display: grid;
  grid-template-areas:
    "nav"
    "header"
    "main"
    "footer";
  grid-template-rows: auto auto 1fr 36px;
  align-items: center;
  min-height: 100vh;
}

.logo {
  height: 40vmin;
  pointer-events: none;
}

.header {
  grid-area: header;
}

.main {
  grid-area: main;
}

.header,
.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.nav {
  left: 0;
  width: 100%;
  z-index: 5000;
  font-size: calc(14px + 0.29vw);

}

.link:hover {
  text-decoration: underline;
}

.link.active {
  color:  #FFD055;
  font-weight: 700;
}

@media (prefers-reduced-motion: no-preference) {
  .logo {
    animation: logo-float infinite 3s ease-in-out;
  }
}

@keyframes logo-float {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(0px);
  }
}
