/* FOOTER STYLES */
.footer {
  margin: 0;
  color: #fff;
  position: relative;
  width: 100%;
  bottom: 0;
  .img {
    max-width: 158px !important;
  }
}

.footer-columns {
  display: flex;
  flex-wrap: wrap !important;
  margin: 0 auto;
}

.footer-column {
  width: fit-content;
  max-width: 21.75rem !important;
}

.footer-column .h5 {
  width: fit-content;
}
.footer-column .ol,
.ul {
  padding-left: 0 !important;
  width: fit-content;
}
.footer-column .li {
  font-weight: 300;
  list-style: none;
  font-size: 1rem;
  margin: 5px 5px 0;
  width: fit-content;
}

.footer-column .li .a {
  color: var(--background-white);
}

.footer-column .form {
  position: relative;
}

.subscribe-btn {
  background-color: #0547cf;
  color: #fff;
  padding: 10px 15px;
  border: none;
  border-radius: 2px;
  cursor: pointer;
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
}

.subscribe-input {
  border-radius: 5px;
  padding: 10px 0 10px 5px;
  width: 75%;
  margin-right: 10px;
}

.copyright {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 1rem;
}

.copyright .div {
  font-size: 24px;
  display: flex;
  gap: 20px;
  align-items: center;
}