.overview {
    /* Calculate the clamp value based on the desired margin */
    margin-left: clamp(19.5rem, 10vw, 25rem); 
  }

  ul {
    /* Calculate the clamp value based on the desired margin */
    margin-left: clamp(19.5rem, 10vw, 25rem); 
  }

  @media (max-width: 768px) {
    .overview {
      margin-left: clamp(6.25rem, 5vw, 12.5rem); /* Adjust values for smaller screens */
    }

    ul {
      margin-left: clamp(6.25rem, 5vw, 12.5rem); /* Adjust values for smaller screens */
    }
  }

  @media (max-width: 640px) {
    .overview {
      margin-left: clamp(3.125rem, 3vw, 6.25rem); /* Adjust values for even smaller screens */
    }

    ul {
      margin-left: clamp(3.125rem, 3vw, 6.25rem); /* Adjust values for even smaller screens */
        } 
    }